<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Platinum Advantage</h2>
        <p class="lead">Customer service is what sets us apart from the competition. Along with our competitive prices, everyone here at Platinum strives to make sure that every customer is satisfied with every purchase, every time. Every year, we keep thousands of pounds of electronic waste out of landfills and in the hands of our customers. Please, browse our eBay store, explore our website, or send us an email!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
